
<% @posts.each do |post| %>
  <div class="post">
    <h2>Title:</h2> <%= post.title %><br>
    <p><%= post.body %></p><br>

    <% if user_signed_in? %>
      <p><strong>Author:</strong> <%= post.user.email %></p>
    <% else %>
      <em>Unknown author</em>
    <% end %>
  </div>
  <hr>

  <div class="auth-links">
    <% if user_signed_in? %>
      <%= button_to "New Post", new_post_path %> |
      <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %> |
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
  </div> 
<% end %>